.main-product-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //   align-content: center;
  //   align-items: center;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
.main-learning-simplified {
  position: relative;
  display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100%;
}
.background {
  /* Full height */
  height: 90vh;
  width: 100vw;

  object-fit: cover;
  /* Create the parallax scrolling effect */
  // background-attachment: fixed;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // align-self: center;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  // color: aliceblue;
  flex-grow: 2;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // position: absolute;
  // align-self: flex-end;
  // align-self: flex-start;

  // transform: translate(-20rem, 3rem);
  &-grey {
    color: #636565;
  }
  &-green {
    color: #3d9751;
  }

  &-container {
    flex-grow: 2;
    background-color: rgba(255, 255, 255, 0.65);
    padding-right: 1rem;
    @media only screen and (max-width: 350px) {
      padding-right: 1rem;
    }
  }

  // &-empty-start {
  //   flex-grow: 2;
  // }
  &-empty-end {
    flex-grow: 2;
    @media only screen and (max-width: 350px) {
      flex-grow: 0;
    }
  }

  @media only screen and (max-width: 350px) {
    text-align: center;
  }
}
.subtitle {
  text-transform: uppercase;
  color: aliceblue;
  flex-grow: 2;
  text-align: start;
  color: #636565;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  // position: absolute;
  // align-self: flex-end;

  // transform: translate(20rem, 10rem);

  &-container {
    background-color: rgba(255, 255, 255, 0.65);
    flex-grow: 2;
    padding-left: 1rem;
    @media only screen and (max-width: 350px) {
      padding-left: 0rem;
    }
  }

  &-empty-start {
    flex-grow: 2;
    @media only screen and (max-width: 350px) {
      flex-grow: 0;
    }
  }

  @media only screen and (max-width: 350px) {
    text-align: center;
  }
}
.text-for-you {
  // background-color: rgba(0, 0, 0, 0.2);
  color: aliceblue;
  flex-grow: 4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.35);
    flex-grow: 1;
  }
}
.main-product-links {
  width: 100%;
}
.main-books {
  order: 2;
  display: flex;
  justify-content: space-evenly;
  position: relative;

  //   flex-grow: 1;
  margin: 5px;
  text-align: center;
  margin: 1rem 0;
  transition: transform 0.2s;

  //   justify-self: flex-start;
}
.main-courses {
  order: 1;
  display: flex;
  justify-content: space-evenly;
  position: relative;

  //   flex-grow: 1;
  margin: 5px;
  text-align: center;
  margin: 1rem 0;
  transition: transform 0.3s;

  //   justify-self: flex-end;
}

.main-books:hover,
.main-courses:hover {
  transform: translateY(-1%);
  // transform: translateY(-2%);
}

.img-books,
.img-courses {
  max-height: 30vw;
  max-width: 90vw;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);

  @media only screen and (max-width: 1200px) {
    max-height: 100%;
    max-width: 30rem;
  }

  @media only screen and (max-width: 600px) {
    max-width: 80vw;
  }
}

.img-books:hover,
.img-courses:hover {
}

.txt-in-img {
  display: block;
  align-self: flex-end;
  position: absolute;
  text-align: center;
  //   bottom: 20px;
  //   right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1vh 0;
}

.home-email-signup {
  display: none;
}
