.DS_Store
.tern-project
/.vscode/
/.sonarlint/
/**/dw*.json
*.zip
/resources/*.csv
.cache/
/node_modules/
/dw-cli.json
dw.json
launch.json
/cartridges/app_storefront_base
/cartridges/test_sfcc_editor
/cartridges/**/cartridge/static/**/*.css
/cartridges/**/cartridge/static/**/*.js

